@import "tailwindcss";
@plugin "daisyui";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

.samiul-gradient-purple {
  background: linear-gradient(135deg, #632EE3 0%, #9F62F2 100%);
}

.samiul-gradient-green {
  background: linear-gradient(135deg, #54CF68 0%, #00827A 100%);
}

.samiul-background-image {
  opacity: 0.4;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.samiul-image-container {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.samiul-left-image {
  left: 0;
  top: 0;
}

.samiul-right-image {
  right: 0;
  top: 0;
}

.samiul-task-status-container {
  height: fit-content;
  max-height: 100%;
}

.samiul-ticket-card {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;
}

.samiul-status-badge {
  position: relative;
  padding-left: 20px;
}

.samiul-status-badge::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: currentColor;
}

.samiul-priority-high {  color:  #EF4444;}
.samiul-priority-medium {  color:#F59E0B;}
.samiul-priority-low {  color: rgb(48, 165, 48);}